:root {
  --contact-color: #FFFFFF;
  --secondary-color:  rgb(20, 36, 50);
  --heading-font-family: "Roboto" sans-serif;
  --defautlt-font-family: "Montserrat";
}
.hero {
  background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
  color: white;
  height: 100vh;
  padding: 160px 20px;
  text-align: center;
  background-size: cover;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 35px;
  line-height: 2;
}
.me {
  font-size: 90px;
  line-height: 2;
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 35px;
  line-height: 2;
}
.contact {
  background: var(--contact-color);
  border-radius: 50px;
  color:  var(--secondary-color);
  font-family: var(--defautlt-font-family);
  font-size: 17px;
  font-weight: 600;
  padding: 18px 50px 18px 50px;
  text-decoration: none;
}